body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;

  background-color: orange;
}

h1 {
  color: white;
}

#cc-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;

  background-color: orange;
  color: white;

  border: none;
  border-radius: 50%;

  width: 50px;
  height: 50px;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;

  box-shadow: 0 4px 8px rgba(0,0,0,0.3);

  video::cue {
  font-size: 13px; /* small text */
  color: white;
  background: rgba(0,0,0,0.7);
  padding: 3px 5px;
  border-radius: 4px;
}


#cc-btn:hover {
  background-color: darkorange;
}
